@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #333;
  margin: 0.625rem 5rem;
}

pre {
	margin: 0;
	font-size: 1rem;
}

/* Start list style*/
ul.vertical-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

/* table grid 시작 */
table.grid {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  border: 1px solid #ddd;
  text-align:center;
}

table.grid > tbody > tr:nth-child(odd) {
  background-color: #f5f5f5;
}

table.grid > tbody > tr:hover {
  background-color: #fafafa;
}

table.grid > thead > tr {
  background-color: #fff;
}

table.grid > thead > tr > th {
  padding: 0.625rem;
}

table.grid > thead > tr > th,
table.grid > tbody > tr > td {
  border-right: none;
  padding: 0.625rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* table grid 끝 */

/* Start grid style */
div.gird,
div.grid{
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  border: 1px solid #ddd;
}
 
/* End grid style*/

/* Start write content style */
div.write {
	grid-template-columns: 5rem 1fr;
	grid-template-rows: repeat(3,minmax(1.75rem, auto)) 20rem;
	row-gap: 0.625rem; 
    
    & > div.attach-files{ 
    display : grid;
	grid-template-columns: 1fr minmax(5rem, auto);
	gap: 0.625rem;
    } 
    
    & > div.inputdiv {
		& > .VaildationError{
		color:red;
		font-weight:600;
		font-size:0.8rem;
		margin-top:0.3rem;
		padding:0.5rem;
		background-color:#f002;
		}
		 & > input{
			width:100%; 
			display:block;
		}
	}
}
/* End write content style */

/* Start regist Style */
div.regist {
	margin: 0.625rem 10rem;
	row-gap: 0.625rem;
	flex-basis: 20rem;
& > div.inputdiv {
    & > .VaildationError{
    color:red;
    font-weight:600;
    font-size:0.8rem;
    margin-top:0.3rem;
    padding:0.5rem;
    background-color:#f002;
    }
 & > input{
    width:100%; 
    display:block;
    }
}
}
 
/* End regist Style */

/* Start update Style */
div.update {
	margin: 0.625rem 10rem;
	row-gap: 0.625rem;
	flex-basis: 20rem;
}

/* End  Style */

/* Start view article style */
div.view {
	grid-template-columns: 7.5rem 1fr;
	grid-template-rows: repeat(8, minmax(1.75rem, auto));
	row-gap: 0.625rem;
}

.update-file-list { 
	& > ul.vertical-list{
	 grid-column:1/ -1; 

	   & > li >	input[type="checkbox"]:checked + a {
	   color : red;
	   text-decoration:line-through;
}
}
}
.right-align {
	text-align: right;
} 

/* End view article style */
/* 회원 목록 style 시작 */
div.login {
  grid-template-columns: 7.5rem 1fr;
  grid-template-rows: repeat(2, minmax(1.75rem, auto)) 1fr;
  row-gap: 0.625rem;
}
/* 회원 목록 style 끝 */

div.wrapper{
    margin: 0 auto;
    width : 100%;
    max-width:87.5rem;

    & > div.header{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.625rem;
        padding : 0.625rem 0;
    }
}
.VaildationError{
	
        color:red;
        font-weight:600;
        font-size:0.8rem;
        margin-top:0.3rem;
        padding:0.5rem;
        background-color:#f002;
}

/* 게시글 내용 조회 style 시작 */
div.view {
  grid-template-columns: 7.5rem 1fr;
  grid-template-rows: repeat(9, minmax(1.75rem, auto));
  row-gap: 0.625rem;
}
/* 게시글 내용 조회 style 끝 */


/* 댓글 style 시작 */
.replies-count,
.replies,
.reply-form {
  grid-column: 1 / -1;
}

.replies {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.625rem;
}

.replies > li {
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.replies > li:nth-child(odd) {
  background-color: #f3f3f3;
}

.replies > li > .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.replies > li > .links > span {
  display: inline-block;
  padding: 0.625rem;
  cursor: pointer;
  transition: all 0.2s;
}

.replies > li > .links > span:hover {
  color: #fff;
  background-color: #0003;
  border-radius: 0.5rem;
}

.reply-form {
  display: flex;
  flex-direction: column;
}

.reply-form > .parent-reply-id {
  align-self: flex-start;
  width: auto;
  border: 0;
  outline: 0;
}

.reply-form > .reply-content {
  height: 10rem;
}

.reply-form > .reply-save {
  align-self: flex-end;
}

.replies > li > .reply-attach-files{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:0.625rem;
}
.update-form > .update-file-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.update-form > .update-file-list > div > input {
  display: none;
}

.update-form > .update-file-list > div > input + label {
  cursor: not-allowed;
}

.update-form > .update-file-list > div > input:checked + label {
  color: #f00;
  text-decoration: line-through;
  cursor: pointer;
}

/* 댓글 style 끝 */


/* page-navigator */
ul.page-navigator {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  justify-content: center;
  margin: 0.625rem 0;
  padding: 0;
  list-style-type: none;
}

ul.page-navigator > li.active > a {  
	color:#f00; 
}

/* End */