* {
  box-sizing: border-box;
}
body {
  background-color: #f5f6f7;
  color: #333;
  padding: 0px;
}

/*  줄 긋기  */
.line {
  height: 1px;
  background: #1111;
  margin: 16px 0;
}
/* 목록 스타일  */
.vertical-list > li {
  font-size: 13px;
  padding: 2px 0px;
}
.horizontal-list,
.vertical-list {
  margin: 0;
  padding: 0;
  font-size: 0px;
  list-style-type: none;
}

.horizontal-item {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  vertical-align: middle;
  padding: 15px 10px;
}
/* 패딩 0 */
.no-padding {
  padding: 0;
}

img {
  vertical-align: bottom;
}

.fixed-header {
  position: fixed;
  background-color: #f5f6f7;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.main-top-navigator {
  position: relative;
}
.position-right {
  position: absolute;
  right: 0;
  top: 0;
}

.main-top-logo {
  width: 30px;
}

.skills {
  background-color: #333;
  color: #f5f6f7;
}
.skills > .horizontal-list > .horizontal-item {
  font-size: 12px;
  font-weight: 350;
  padding: 3px 10px;
}

.fixed-header
  > .main-top-navigator
  > .horizontal-list:last-child
  > .horizontal-item:not(.no-padding):hover {
  padding: 0px 0px;
}

.green-button {
  background-color: #04aa6d;
  border: 0px;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 7px;
}

.purple-button {
  background-color: #9663f6;
  border: 0px;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 7px;
}
.fixed-header
  > .main-top-navigator
  > .horizontal-list:first-child
  > .horizontal-item:hover {
  background-color: #88ccaa;
  color: white;
}
.fixed-header
  > .main-top-navigator
  > .horizontal-list:first-child
  > .horizontal-item:first-child:hover {
  background-color: #f5f6f7;
  color: #333;
}

.fixed-header
  > .main-top-navigator
  > .horizontal-list:last-child
  > .horizontal-item:hover {
  padding: 10px;
}
.fixed-header
  > .main-top-navigator
  > .horizontal-list:last-child
  > .horizontal-item:hover
  > div {
  padding: 10px 5px;
  background-color: #9993;
  border-radius: 20px;
}

.fixed-header > .skills > .horizontal-list > .horizontal-item:hover {
  background-color: #000;
}
.fixed-header
  > .skills
  > .horizontal-list
  > .horizontal-item:not(.active):hover {
  background-color: #000;
}

.active {
  background-color: #04aa6d;
  color: #fff;
}

.main-top-navigator,
.skills > .horizontal-list {
  width: 1080px;
  margin: 0 auto;
}

/*사이드 콘탠추 스타일 */
.content {
  width: 1080px;
  margin: 0px auto;
  margin-top: 66px;
}

.fixed-side-area {
  position: fixed;
  background-color: #e7e9eb;
  width: 200px;
  overflow: auto;
  height: 100%;
  z-index: 9999;
}
.fixed-side-area > h1 {
  margin: 20px 0px 0px 0px;
  font-size: 24px;
  padding-left: 10px;
}

.fixed-side-area > .vertical-list > li {
  padding-left: 10px;
}

/* 메인 컨텐츠 스타일 */
.main-content {
  margin-left: 200px;
  padding: 10px 150px 0px 40px;
}

.main-content > .main-content-header {
  position: relative;
}
.main-content > .main-content-header > img {
  position: absolute;
  right: 0;
  top: 0;
}

.main-content > .main-content-header > h1 {
  font-size: 42px;
  font-weight: 500;
}

.main-content > .main-content-header > .green-button:last-child {
  position: absolute;
  right: 0;
}

.main-content > .real-conten > h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 10px;
}

.main-content > .real-conten > div {
  margin: 8px 0;
}

.main-content > .course {
  position: relative;
  font-size: 0;
  height: 100px;
}

.main-content > .course > .tutorial {
  width: 49.5%;
  font-size: 13px;
  text-align: center;
  position: absolute;
  left: 0;
  background: #e6f6f0;
}
.main-content > .course > .certificate {
  width: 49.5%;
  font-size: 13px;
  text-align: center;
  position: absolute;
  right: 0;
  background: #f4effe;
}
.main-content > .course > .centerorbox {
  border: 1px, white, solid;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  font-size: 13px;
  top: 46%;
  left: 48%;
  padding: 5px;
}
