a:link {
  color: #666;
  font-size: 20px;
  text-decoration: none;
}
a:focus {
  /* border: 3px solid black;
  outline: 3px dashed red; */
  outline: 0;
  color: gold;
  background-color: goldenrod;
}
a:visited {
  color: #666;
}
a:active {
  color: red;
}
a:hover {
  color: coral;
  text-decoration: underline;
}

.section-title {
  margin: 5px;
  color: #453 !important;
  border-bottom: 2px double #ccc;
}

.vertical-list {
  margin: 0;
  padding: 0px;
  color: #555;
  font-size: 20px;
}

.vertical-item {
  padding: 5px 10px;
  border-bottom: 1px dashed red;
}
.vertical-item:last-child {
  border-bottom: none;
}
.vertical-item:nth-child(even) {
  background-color: gold;
}

.horizontal-list {
  margin: 0;
  padding: 0px;
  color: #555;
  font-size: 0px;
}

.horizontal-list > li {
  display: inline-block;
  padding: 5px 10px;
}

/* 클래스가 호라이즌-아이템 인 태그의 왼쪼 ㄱ경계선을 생성 */
.horizontal-item {
  border-left: 4px solid black;
  font-size: 20px;
}
/* 클래스가 호라이즌-아이템 인 태그의 첫 번째 태그만 왼쪽 경곗ㄴ 제거 */
.horizontal-item:first-child {
  border-left: none;
}
/*  크ㅡㄹ래스가 화잊ㅇ이 인 태그의 마지막번째 테ㅐ금난 글자 색상을 임의로 지정ㅎ나다  */
.horizontal-item:last-child {
  color: brown;
}
/* 클래스가 호라이즌드아이템ㅇ닌 마우스를 올려두면 임의익르잘 색상을 지정한다  */
.horizontal-item:hover {
  color: goldenrod;
}
/* 클래스가 호라이즌드아이템인태그의 홀수번째 아아테매 만ㄴ 배경색을 임의로 지정한ㄷ ㅏ */
.horizontal-item:nth-child(odd) {
  background-color: coral;
}
.horizontal-item::before {
  content: "*";
  padding-right: 10px;
  padding-top: 5x;
  margin-left: 5px;
  background-color: red;
}

.horizontal-item::after {
  content: "<div>🥰asd🥰</div>";
}
