.grid {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.grid > thead {
  background-color: #ccc;
}

.grid > thead > tr > th {
  padding: 10px 0;
  border-bottom: 1px solid black;
  border-right: 1px dashed black;
}
.grid > thead > tr > th:last-child {
  border-right: 0;
}
.grid > tbody {
  background-color: black;
  color: white;
}
.grid > tbody > tr:nth-child(odd) {
  background-color: violet;
}
.grid > tbody > tr:hover {
  background-color: navy;
}
.grid > tbody > tr > td {
  padding: 10px 0 10px 10px;
  border-bottom: 1px dashed black;
  border-right: 1px dashed black;
}
.grid > tbody > tr > td:last-child {
  border-right: 0;
}
